@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    background-size: cover;
    height: 100%;
    width: 100%;
    
}
body {
    margin: 0;
    width: 100%;
    background-color: rgba(150, 214, 243, 0.39);
    font-family: 'Cafe24Ssurround';
}
.cont1 {
    width: 70%;
    margin: auto;
}
.page_border {
    width: 3vw;
    height: 3vw;
    background-color: #50bcdf;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 2.7vw;
    border-radius: 0.8vw 0.8vw;
}
.cont2 {
    width: 50%;
    padding: 2vw 0vw 2vw 0vw;
    margin: auto;
    text-align: center;
}
.table_title {
    text-align: center;
    font-size: 2.4ch;
    background-color: rgb(25, 178, 238);
    color: white;
}
.table_content {
    text-align: center;
    background-color: white;
}
.board_insert {
    position: absolute;
    right: 15%;
    top: 22%;
    width: 120px;
    height: 50px;
    border-style: none;
    background-color: #4a8adf;
    border-radius: 0.8vw 0.8vw;
}
a{
    text-decoration: none;
    color: black;
}